body {
  background-color: white;
}
h1 {
  color: black;
}
p {
  color: black;
}
.pleft {
  position: relative;
  text-align: center;
}
div {
  background-color: white;
}
.link-box{
  border-radius: 8px;
  margin-top: 1%;
  background-color: #00ffff; /*Cyan*/
}
.links {
  margin-right: 22px;
  background-color: #00ffff; /*Cyan*/
}
.outdiv1{
  border-radius: 25px;
  text-align: left;
  background-color: #7fff88; /*light Green*/
}
.outdiv2{
  border-radius: 25px;
  text-align: left;
  background-color: #ff7f7f; /*light Red*/
}
.nnbuttons{
  display: inline-block;
}
.hr-short{
  width: 75%;
  color: #D3D3D3; /*light Grey*/
}
.button1 {
  background-color: #4CAF50; /* Green */
}
.button1:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
