<!DOCTYPE html>

{% extends "base_title.html" %}


{% block content %}

<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
    </script>
</head>

<center>
        <h2>Add zip file of data to selected entry</h2>
        <p>the current entry is: {{ entry }}</p>
        <form action="" method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}

            <p><input type=file name=uploadname> <!--webkitdirectory=""-->
                      </p><br>
                <p> {{ form.submit(class="btn btn-success btn-lg") }} </p>
        </form>

</center>

{% endblock %}
