<!DOCTYPE html>
<html lang="en">
        <head>
            <link rel="stylesheet" href="{{ url_for('static', filename='spectre.min.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css" />
            {% if title %}
            <title>{{ title }}</title>
            {% else %}
            <title>Give a title!</title>
            {% endif %}
        </head>

        <div class="link-box">Links: <br>
            <a class="links" href="{{ url_for('hello') }}">Home</a>
            <a class="links" href="{{ url_for('check') }}">Check Structure</a>
            <a class="links" href="{{ url_for('new_entry') }}">Create new entry</a>
        </div>
        <hr>
        <hr>

        <!-- display flashed messages-->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% if message %}
        <div align="center"><h2>{{ message }}</h2></div>
        {% else %}
        <div></div>
        {% endif %}
<body>

{% block content %}{% endblock %}

</body>
</html>
