<!DOCTYPE html>

{% extends "base_title.html" %}

{% block content %}

<center>
    <h2>Validate structure</h2>
    <form action="/run_validate" method="post">
        <button type="submit", class="button1"> {{ validate_name }}</button>
    </form>
</center>

{% endblock %}
