<!DOCTYPE html>

{% extends "base_title.html" %}

{% block content %}

<center>
    <h2>Results of filesytem check</h2>
    <h4>Checked directory: <em>{{ form.directory.data }} </em> </h4>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        {% if pos %}
        <div class="outdiv1">
            <p align="center"><b>Valid folders</b></p>
        <ul>
            {% for mess in pos %}
            <li><b>Folder: </b>{{ mess }}</li>
            {% endfor %}
        </ul>
            <br>
        </div>
        {% endif %}
        <!---->
        {% if neg %}
        <div class="outdiv2">

            <p align="center"><b>Invalid folders</b></p>
            <ul>
                {% for mes in neg %}
                {% for mess in negerr %}
                <li><b>Folder:</b> {{ mes }} <br> <b>Error: </b> <p>{{ mess }}</p></li>
                {% endfor %}
                {% endfor %}
            </ul>
            <br>
        </div>
        {% endif %}

        <br>

        <p> {{ form.submit(class="btn btn-success") }} </p>
    </form>
</center>

{% endblock %}
