<!DOCTYPE html>

{% extends "base_title.html" %}

{% block content %}

<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"> </script>
    <script src="{{ url_for('static', filename='add-exclude-field.js') }}" charset="utf-8" type="text/javascript"></script>
</head>

<center>
    <h2>Check entire file structure</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
                <p>
                    {{ form.directory.label }} <br>
                    {{ form.directory(size=128) }}
                </p>

        <p> {{ form.submit(class="btn btn-primary btn-lg") }} </p>

        <br>
        <hr class="hr-short">
        <br>
        <p>If one or more directories are known that you wish to exclude,
            press the following button</p>
        <p>
            <button type="button" id="addNewField" class="btn btn-link">
                Add exclude path</button>
            {{ form.exclude(size=64) }} <br>
        </p>

    </form>
    <hr class="hr-short">
    <hr class="hr-short">
    <h2>Check single entry</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.single_dir.label }} <br>
            {{ form.single_dir(size=128) }}
        </p>
        <p>
            {{ form.single_entry.label }} <br>
            {{ form.single_entry(size=100) }}
        </p>

        <p> {{ form.submit_single() }} </p>
    </form>
</center>

{% endblock %}
