<!DOCTYPE html>

{% extends "base_title.html" %}


{% block content %}

<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"> </script>
    <script src="{{ url_for('static', filename='add-exclude-field.js') }}" charset="utf-8" type="text/javascript"></script>


        <script src="{{ url_for('static', filename='request-path.js') }}" charset="utf-8" type="text/javascript"></script>

</head>

<center>
        <h2>Create new entry</h2>
        <form action="" method="post">
                {{ form.hidden_tag() }}

                <p>
                        {{ form.responsible.label }} <br>
                        {{ form.responsible(size=24) }}
                        <button type="button" id="addNewField" class="btn">
                                +</button>
                        {{ form.more_resp(size=24) }} <br>
                </p>
                <p>
                        {{ form.email.label }} <br>
                        {{ form.email(size=32) }}
                        <br>
                        {% for error in form.email.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                </p>
                <p>
                        {{ form.description.label }} <br>
                        {{ form.description(size=32) }}
                        <br>
                        {% for error in form.description.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                </p>
                <hr class="hr-short">
                <p>
                        {{ form.category.label }}<br>
                        {{ form.category }}
                </p>

                <div id="parent_dirs"></div>

                <p>
                        {{ form.projectname.label }}<br>
                        {{ form.projectname(size=64) }}
                </p>
                <p>
                        {{ form.entryname.label }}<br>
                        {{ form.entryname(size=64) }}
                </p>
                <p> {{ form.submit(class="btn btn-success btn-lg") }} </p>
        </form>
</center>

{% endblock %}
