<!DOCTYPE html>


{% extends "base_title.html" %}

{% block content %}
        <center>
            <h3>Please choose one of these options</h3>
            <form action="" method="post" class="nnbuttons">
                <div>
                    {{ form.submit_tocheck(class="btn btn-primary btn-lg") }}
                    {{ form.submit_tocreate(class="btn btn-success btn-lg") }}
                </div>
            </form>

        </center>
{% endblock %}
